# Environment variables
.env

# Dependencies
node_modules/

# Build output
dist/

# Uploads
uploads/videos/*
uploads/audio/*
!uploads/videos/.gitkeep
!uploads/audio/.gitkeep

# Logs
*.log
npm-debug.log*

# Database
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db
